$blue: #02adf7;
$light-blue: #88d9fc;
$dark-blue: #004968;
$red: #f90206;
$light-red: #fc585b;
$green: #0ffc07;
$light-green: #95fc92;
$text-color: #232323;
$v-light-gray: #eeeeee;
$light-gray: #bfbfbf;
