/* Page header */

.page-header {
  height: 11rem;
  background-color: $v-light-gray;
  border-top: 0.5rem solid $blue;

  @media (max-width: 376px) {
    height: 250px;
    .nav {
      flex-direction: column;
      font-size: 0.8rem;
      padding: 0;

      &__links {
        flex-direction: column;
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    img {
      width: 220px;
    }

    &__links {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        margin: 0 2rem;
        font-size: 1.85rem;
        font-weight: 500;
      }
    }
  }
}

.page-header .page-header svg {
  height: 6rem;
  width: 13rem;
}
